http.host: {{elasticsearch_node_name}}
transport.host: {{elasticsearch_node_name}}
discovery.zen.minimum_master_nodes: 2
cluster.name: elasticsearch-cluster
node.name: {{elasticsearch_node_name}}
node.master: true
node.data: true
network.host: {{elasticsearch_node_name}}
network.bind_host: {{elasticsearch_node_name}}
network.publish_host: {{elasticsearch_node_name}}
transport.tcp.port: 9300
discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.timeout: 3s
